body{
  background-color: #CAF0F8;
  padding-bottom: 1rem; 
}

h1{
  border-radius: 15px 15px 15px 15px;
  background-color:   #023E8A;
  color: #00B4D8;
  width: 80%;
  margin: 1rem auto;
  padding: 1rem 0;
}

.App {
  text-align: center;
  color: #023E8A;
}

#high-scores-container {
  font-size: 2rem;
    width: 60%;
    margin: 3rem auto;
    padding-top: 1rem;
    text-align: center;
    background-color: #ADE8F4;
    border-radius: 15px 15px 15px 15px;
}
