.player {
    display: flex;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: #023E8A;
}

.score-heading {
    display: flex;
    width: 80%;
    margin: 0 auto;
    background-color: #ADE8F4;
    border-radius: 15px 15px 0 0;
}

.score-heading .name, .score-heading .score {
    width: 20%;
    border-radius: 5px 5px 5px 5px;
    background-color: #00B4D8;
    text-align: center;
}

.score-table {
    width: 80%;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #023E8A;
}

.all-high-scores-container .score-table {
    margin-bottom: 5rem;
    padding-bottom: 2rem;
    border-radius: 0px 0px 15px 15px;
}

.all-high-scores-container .score {
    
}

.name, .score {
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}